<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="refresh" content="5; url=/search">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mukta:800" rel="stylesheet">

	<style type="text/css">
	body, html {
	  height: 100%;
	}


	</style>
	<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
  </style>

</head>
<body>
	<div class="navbar navbar-inverse set-radius-zero navbar-fixed-top" style="background-color: #bfd4f5;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color:black; font-size:30px;">
					I पूर्वमेघ I
                </a>
			</div>
           <ul class="nav navbar-nav navbar-right">
     	    <li style="font-size: 25px;"><a href="/logout" style="color: black;">Logout</a></li>
                <li>
                	<a href="/" target="_blank"><img src="/images/logo.png" alt="logo" height="40" width="40" style="position: relative;"></a>
                </li>

            </ul>
            </div>
        </div>
        <div style="margin-top: 20%;text-align: center;" >
          <h1>पूर्वमेघ WELCOMES YOU</h1><br>
           <h2><%=z%></h2>
        </div>
      </body>
      </html>