<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mukta:800" rel="stylesheet">

	<style type="text/css">
	body, html {
	  height: 100%;
	}


	</style>
	<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
  </style>

</head>
<body style="background-position: center;background-size: cover;background-image: url(https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);background-repeat: no-repeat;">
	<div class="navbar navbar-inverse set-radius-zero navbar-fixed-top" style="background-color: #bfd4f5;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color:black; font-size:30px;">
					I पूर्वमेघ I
                </a>
			</div>
           <ul class="nav navbar-nav navbar-right">
     	    <li style="font-size: 25px;"><a href="/" style="color: black;"> Back</a></li>
                <li>
                	<a href="/"><img src="/images/logo.png" alt="logo" height="40" width="40" style="position: relative;"></a>
                </li>

            </ul>
            </div>
        </div>
        <div class="container" style="padding-top: 20%;">
        <div style="background-color: rgba(0,0,0,0.6);width: 60%;border-radius: 20px;text-align: center;" class="jumbotron">
          <form method="POST" action="/fraud" style="text-align: center;">
            <table class="table">
              <tr>
                <td style="color: white;">
                  Enter the URL
                </td>
                <td>
                  <input type="text" name="url" placeholder="Enter URL">
                </td>
              </tr>
            </table>
            <input type="submit" name="submit" value="Submit" class="btn btn-md btn-warning">
          </form>
        </div>
      </div>
      </body>
      </html>