<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mukta:800" rel="stylesheet">

	<style type="text/css">
	body, html {
	  height: 100%;
	}


	</style>
	<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
  </style>

<script> 
        /* Add "https://api.ipify.org?format=json" statement 
           this will communicate with the ipify servers in 
           order to retrieve the IP address $.getJSON will 
           load JSON-encoded data from the server using a 
           GET HTTP request */ 
  
        $.getJSON("https://api.ipify.org?format=json", 
                                          function(data) { 
  
            // Setting text of element P with id gfg 
            $("#ip").val(data.ip); 
        }) 
    </script> 


</head>
<body>
	<div class="navbar navbar-inverse set-radius-zero navbar-fixed-top" style="background-color: #bfd4f5;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color:black; font-size:30px;">
					I पूर्वमेघ I
                </a>
			</div>
           <ul class="nav navbar-nav navbar-right">
           	<li style="font-size: 25px;"><a href="/alogin" style="color: black;"> Admin</a></li>
     	    <li style="font-size: 25px;"><a href="/login" style="color: black;"> User</a></li>
                <li>
                	<a href="/" target="_blank"><img src="/images/logo.png" alt="logo" height="40" width="40" style="position: relative;"></a>
                </li>

            </ul>
            </div>
        </div>
        <div class="container" style="text-align: center;">
          <div style="margin-top: 20%;" class="jumbotron" style="background-color: rgba(0,0,0,0.6);border-radius: 10px;width: 60%;">
          <form method="POST" action="/signup">
            <table class="table table-hover">
              
              <tr>
                <td>Username</td>
                <td>
                  <input type="text" name="username" placeholder="username" style="text-align: center;">
                </td>
                </tr>
                <tr>
                  <td>Email</td>
                <td>
                  <input type="text" name="email" placeholder="email" style="text-align: center;">
                </td>
                </tr>
                <tr>
                  <td>Password</td>
                <td>
                  <input type="password" name="password" placeholder="password" style="text-align: center;">
                </td>
                </tr>
                  
            </table>
            <input type="text" name="ip" id="ip" style="visibility: hidden;"><br>
            <input type="submit" name="sub" value="Submit" class="btn btn-md btn-success">
          </form>
        </div>
        </div>
      </body>
      </html>