<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mukta:800" rel="stylesheet">

	<style type="text/css">
	body, html {
	  height: 100%;
	}


	</style>
	<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
  </style>

<script> 
        $.getJSON("https://api.ipify.org?format=json", 
        function(data) { 
            $("#ip").val(data.ip); 
        }) 
    </script> 


</head>
<body style="background-image: url(https://images.unsplash.com/photo-1498753427761-548428edfa67?ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);backface-visibility: visible;background-position: center;background-size: cover;background-repeat: no-repeat;">
	<div class="navbar navbar-inverse set-radius-zero navbar-fixed-top" style="background-color: #bfd4f5;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color:black; font-size:30px;">
					I पूर्वमेघ I
                </a>
			</div>
           <ul class="nav navbar-nav navbar-right">
           	<li style="font-size: 25px;"><a href="/alogin" style="color: black;"> Admin</a></li>
     	    <li style="font-size: 25px;"><a href="/login" style="color: black;"> User</a></li>
                <li>
                	<a href="/" target="_blank"><img src="/images/logo.png" alt="logo" height="40" width="40" style="position: relative;"></a>
                </li>

            </ul>
            </div>
        </div>
        <div style="padding-top: 15%;" class="container">
          <div class="jumbotron" style="width: 60%;background-color: rgba(0,0,0,0.8);border-radius: 10px;text-align: center;">
          <form method="POST" action="/login" style="text-align: center;">
            <table class="table">
              <tr>
                <td style="color: white;">
                  Username
                </td>
                <td>
                  <input type="text" name="username">
                </td>
              </tr>
              <tr>
                <td style="color: white;">
                  Password
                </td>
                <td>
                  <input type="password" name="password">
                </td>
              </tr>
            </table>
            <input type="text" name="ip" id="ip" style="visibility: hidden;">
            <input type="submit" name="submit" value="Submit" class="btn btn-lg btn-success">
          </form>
        </div>
      </div>
      </body>
      </html>